
{% extends 'base.html' %}

{% block content %}
      
      <h1 class="title">
        DogChat
      </h1>
      <p class="subtitle">
        My Feed
      </p>



    {% for post in posts %}
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="{{ url_for('static', filename=post['Postee']+'.png') }}" alt="Image">
            </figure>

            <!-- <a href="{{ url_for('dog', handle=post['Postee']) }}"><strong>{{post['Likes']}} Likes</strong></a> -->
              <!-- <p>{{post['Likes']}} Likes</p> -->
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <a href="{{ url_for('dog', handle=post['Postee']) }}"><strong>{{ get_dog_by_handle(post['Postee'])['name'] }}</strong></a> <small>@{{post['Postee']}}</small> 
                <!-- <small>31m</small> -->
                <br>
                {{post['Post']}}
              </p>
            </div>
            <nav class="level-left">
              <div class="level-item has-text-left">
                <div>
                  <p class="">Reposts</p>
                  <p class="">{{post['Reposts']}}</p>
                </div>
              </div>
              <div class="level-item has-text-left">
                <div>
                  <p><button class=" has-tooltip-bottom has-tooltip-multiline" data-tooltip="{{post['LikedBy']}}">Likes</button></p>
                  <p>{{post['Likes']}}</p>
                </div>
              </div>
            </nav>
          </div>
        </article>
      </div>
    {% endfor %}

{% endblock %}
      